/web/bundles/
/app/bootstrap.php.cache
/var/cache/*
/app/config/parameters.yml
/phpunit.xml
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep
/build/
/vendor/
bin/
!bin/console
/composer.phar
.idea/

# Front end ignore
*.map
node_modules/
npm-debug.log
