{% extends "JASiteBundle::layout.html.twig" %}

{% block content %}

	<h3>index</h3>
	
	<p>Salut c'est la page d'accueil !</p>
	
	<h4>News</h4>
	{% render "JANewsBundle:News:list" %}
	
	<h4>Ins&eacute;rer l'index d'un bundle ici</h4>
	<p>Contenu de l'index du bundle.</p>
	
	<p>etc...</p>
	
{% endblock %}