{% extends "JANewsBundle::layout.html.twig" %}

{% block content %}
	<h3>News</h3>
	<p>Ici c'est la page de toutes les news !</p>

	{% render 'JANewsBundle:News:list' %}
	
	<ul>
		<li>
			<a href="{{ path('news_new') }}">
				Create a new entry
			</a>
		</li>
	</ul>
{% endblock %}
