{% extends "JANewsBundle::layout.html.twig" %}

{% block content %}
	<h3>News</h3>
	<p>Ici c'est la page de toutes les news !</p>

	{#{% include "JANewsBundle:News:list.html.twig" %}#}
	{% render 'JANewsBundle:News:list' %}
{% endblock %}
