{% extends "JAAppBundle:News:layout.html.twig" %}

{% block title "New News" %}

{% block content %}
    <h1>New news: {{ path('api_1_new_news') }}</h1>

    <hr/>

    {% if (form is defined) %}
        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit">Submit</button>
        {{ form_end(form) }}
    {% endif %}
{% endblock %}
