{% extends "JAAppBundle:Game:layout.html.twig" %}

{% block title "Edit Game" %}

{% block content %}
    <h1>Edit game: {{ path('api_1_edit_game', {slug: slug}) }}</h1>

    <hr/>

    {% if (form is defined) %}
        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit">Submit</button>
        {{ form_end(form) }}
    {% endif %}
{% endblock %}
