{% extends 'JAAppBundle:User:layout.html.twig' %}

{% block title %}{{ user.username }} - {{ parent() }}{% endblock %}

{% block content %}
    <h1>
        Get User : {{ path('api_1_get_user', {'username' : user.username}) }}
    </h1>
    <hr/>

    <p>Auto generated content</p>
    <ul>
        <li><b>gravatar</b> : <img src="{{ user.avatar }}" /></li>
    </ul>

    <p>User Entity :</p>
    {% include 'JAAppBundle:User:show_public_content.html.twig' %}
{% endblock %}
